.container h1{
  color: white;
  margin-left: 850px;
  font-size: 40px;
}

.contact{
  margin-bottom: 20px;
  color: #5490AA;
  font-weight: 600;
}
.row-contact-page{
  display: flex;
  min-height: 88vh;
}

.contact-left{
  flex-basis: 35%;
  padding-left: 5%;
  margin-right: 20px;
  margin-left: -10px;
}
.contact-right{
  flex-basis: 60%;
  padding-right: 5%;
  padding-top: 2%;
}
.border-left{
background-color: #d9d9d9;
border-radius: 5px;
padding: 5%;
margin-top: 40px;
}

.contact-left p{
  margin-top: 30px;
  font-size: 17px;
  text-decoration: none;
}
.contact-left p i{
  color: #5490AA;
  margin-right: 15px;
  font-size: 25px;
}

.contact-left p i:hover{
  color: #5490AA;
  transform: translateY(-5px);
}

.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color:  #5490AA;;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #5490AA;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: linear-gradient(to right, purple, blue);
  color: white;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #d9d9d9;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
