
footer {
  font-family:'Roboto', Courier, monospace;
  position: absolute;
  position: sticky;
  bottom: 0;
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
}

.footer{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  /* flex-direction: column; */
}

.footer-contact-info{
  display: flex;
  gap: 10px;
  padding: 5px;
}

.footer-contact-info h6{
  border-right: 2px solid black;
  padding-right: 5px;
  font-weight: lighter;
  font-size: 14px;
}

.footer-logo{
  background-color: black;
  color: white;
  align-self: center;
}
.footer-icons{
  align-items: flex-end;
  align-self: center;
}
