.info-container{
  display: flex;
}

.info{
  color: white;
  border-color: solid 2px red;
  flex: 1;
  width: 100px;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 60px;
}

.info p {
  font-size: 16px;
}
.info p i {
  padding-right: 10px;
}

.info a{
  background-image: linear-gradient(to right, purple, blue);
  color: white;
  text-decoration: none;
  margin-top: 50px;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  font-weight: 600;
}

.info a:hover{
  background-image: linear-gradient(to right, blue, purple);
}


.role{
  padding-top: 40px;
}

.role p{
  font-size: 16px;
}

.tag{
  padding-top: 10px;
}

.photo{
  background-image: url('/images/aladdin_ver2.jpg');
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 750px;
}

#grid{
  position: absolute;
  top: 91%;
  left: 53%;
  color: white;
}

.previous{
  border-color: white;
  position: absolute;
  top: 91%;
  left: 80%;
}

.previous a{
  background-image: linear-gradient(to right, purple, blue);
  color: white;
  text-decoration: none;
  margin-top: 30px;
  border-radius: 4px;
  padding: 8px 10px 8px 10px;
  font-size: 16px;
  font-weight: 600;
}

.previous a:hover{
  background-image: linear-gradient(to right, blue, purple);
}

.next{
  position: absolute;
  top: 91%;
  left: 87%;
}

.next a{
  background-image: linear-gradient(to right, purple, blue);
  color: white;
  text-decoration: none;
  margin-top: 30px;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  font-weight: 600;
}

.next a:hover{
  background-image: linear-gradient(to right, blue, purple);
}
